.header
  .header__box
    .header__box__in
      %h1.icon
        = link_to "/" do
          = image_tag "images/logo/logo.png"
      .search
        %form{"accept-charset": "UTF-8", action: "#", method: "get"}
          %input{name: "utf8", type: "hidden", value: "✓"}/
          %input#searchInput.searchBox--input{name: "key", placeholder: "キーワードから探す"}/
          %button{type: "submit"}
            .search__icon
              = image_tag "images/icon/icon-search 1.png"
          %input{name: "authenticity_token", type: "hidden", value: "9s7mpob4L+ENFcSPkww7NwNnfuC8gyy/Ku/RUZ23cIY4vg88Js/QW35xXx/ZNTjjDGJxsv2lwAjWWqTIXxHElw=="}/
      %ul.resultLists
    = render "category"