.header {
  padding: 0 60px;

  &__box {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;


    &__in {
      position: relative;
      display: flex;
      align-items: center;

      .icon {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;

        a {
          width: 140px;
          display: block;

          img {
            width: 100%;
            vertical-align: bottom;
          }
        }
      }

      .search {
        margin-left: auto;
        width: 100%;

        form {
          width: 100%;
          display: flex;
          margin-bottom: 5px;

          input {
            width: calc(100% - 26px);
            height: 36px;
            padding: 0 0 0 5px;
          }

          button {
            width: 36px;
            border: 0;
            cursor: pointer;
            background-color: #3CCACE;
            padding: 8px;

            .search__icon {
              img {
                width: 20px;
                height: 20px;
              }
              
            }
          }
        }
      }
    }

    .nav {
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;

      .listsLeft {
        position: relative;
        display: flex;

        .displayNone {
          /* display: none; */
        }
      }

      .listsRight {
        margin-left: auto;
        display: flex;

        .listsRight__item {
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;

          a {
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 32px;
          }
        }
      }
    }
  }
}
.main{

  &__box{
    width: 100%;
    height: 560px;
    background-image: url(images/pict/bg-mainVisual-pict_pc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    .main__content{
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;

      &__subtitle{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }

      &__text {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }

      &__btn{
        display: flex;
        margin: 24px 0 0 0;

        .appbtn{
          margin-right: 10px;
          img{
            width: 200px;
            vertical-align: bottom;
          }
        }
      }
    }
  }
  .reason{
    padding: 60px 20px;

    &__sub{
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }

    .list{
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;

      .lists{
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__pict{
          position: relative;
          margin-bottom: 20px;

          .number{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }

          img{
            width: 100%;
            vertical-align: bottom;
          }
        }
        &__title{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;

          span{
            color: #3ccace;
          }
        }
        &__text{
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
    }
  }
  .appbox{
    background-image: url(images/pict/bg-topMiddleDl-pict.jpg);
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;

    &__text{
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;

      &__title{
        font-size: 27px;
        font-weight: bold;
      }
      &__sub{
        font-size: 18px;
        margin: 20px 0 30px;
      }
      .btn{
        display: flex;

        a{
          margin-right: 11px;

          .abtn{
            width: 180px;
          }
        }
      }
    }
  }
  .feature{
    padding: 60px 100px;
    background-color: #fff;

    &__head{
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    .items{
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;

      .item{
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        box-sizing: border-box;

        &__image{
          width: 70%;
          margin: 0 auto;
          line-height: 120px;

          img{
            width: 100%;
            vertical-align: bottom;
          }
        }
      }
    }
  }
  .category{
    text-align: center;

    .head{
      font-weight: bold;
      font-size: 30px;
    }

    &__box{
      &__head{
        a{
          text-decoration: none;
          font-weight: bold;
            font-size: 24px;
            text-decoration: none;
            color: #3CCACE;
        }
      }
      &__lists{
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;

        &__list{
          width: 220px;
          display: inline-block;
          float: left;

          a{
            background-color: #fff;
            display: inline-block;
            text-decoration: none;


            &__img{
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;

              img{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: auto;
                height: 150px;
                object-fit: cover;
              }
            }
          }
          &__text{
            background-color: white;
            color: #333;
            padding: 5px 30px 0 60px;
            
            .name{
              overflow: hidden;
              line-height: 1.5;
              font-size: 16px;
              text-align: left;
            }
            .pricebox{
              font-size: 16px;

              ul{
                display: flex;
                align-items: center;
                justify-content: space-between;
                li{
                  .fa{
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                  }
                }
              }
              p{
                font-size: 5px;
                float: left;
              }
            }
          }
        }
      }
    }
  }
}


.footer{
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;

  .contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;

    .content {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;

      &__head {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      
      ul{
        li{
          a{
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
        }
      }
    }
  }
  &__logo{
    max-width: 160px;
    width: 100%;
    margin: 0 auto;

    img{
      width: 150px;
    }
  }
}

.appbanner {
  background-image: url(images/pict/bg-appBanner-pict.jpg);
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;

  .inner {
    color: #fff;
    text-align: center;

    &__title {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text{
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    &__icon{
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;

      a{
        margin-right: 10px;

        img{
          width: 180px;
        }
      }
    }
  }
}


a{
  .displaybtn{
    width: 120px;
    background: #3CCACE;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;

    &__text{
      color: #fff;
      display: block;
      font-size: 18px;
      text-decoration: none;
      margin-bottom: 5px;
    }
    img{
      width: 50px;
    }
  }
}










