.login-container {
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color:  rgb(245, 245, 245);
  .login-header {
    text-align: center;
    height: 110px;
  }
  .login-main {
    .login-panel {
      width: 456px;
      margin: 0 auto;
      .login-no-account {
        background-color: rgb(255, 255, 255);
        padding: 40px 64px;
        margin: 0;
        text-align: center;
        p {
          font-size: 14px;
        }
        a {
          display: block;
          margin: 8px 0 0;
          border: 1px solid #0099e8;
          background: #0099e8;
          color: #fff;
          line-height: 40px;
          text-decoration: none;
        }
      }
      .login-form {
        background-color: rgb(255, 255, 255);
        padding: 32px 64px;
        border-top: 1px solid #eee;
        .btn-facebook {
          margin: 0;
          background: #385185;
          color: #fff;
          display: block;
          width: 100%;
          line-height: 48px;
          border: 1px solid transparent;
          position: relative;
          a{
            text-decoration: none;
            color: white;
          }
        }
        .btn-google {
          margin: 16px 0 0;
          border: #979797 solid 1px;
          color: #333;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          border: #979797 solid 1px;
          -webkit-transition: all ease-out .3s;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
          a{
            text-decoration: none;
          }
        }
      }
      .login-form {
        .form-group {
          margin: 24px 0 0;
          width: 100%;
          .login-input-text {
            margin: 0;
            width: 100%;
            height: 48px;
          }
        }
        .login-submit {
          background: #ea352d;
          color: #fff;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
          margin-top: 30px;
        }
        .forget-pass {
          margin-top: 50px;
          text-decoration: none;
          color: skyblue;
        }
      }
    }
  }
  .login-footer {
    width: 456px;
    margin: 0 auto;
    z-index: 1;
    height: 250px;
    padding: 40px 0;
    text-align: center;
    nav {
      display: block;
      ul {
        font-size: 0;
        li {
          margin: 0;
          font-size: 12px;
          display: inline-block;
          margin: 0 0 0 16px;
          a {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
    .footer-logo {
      display: block;
      color: #333;
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
    }
  }
}